.slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0.5;
    transform: scale(0.9);
}

.slick-current {
    opacity: 1;
    transform: scale(1);
}

.swiper-pagination-bullet-active {
    background: #FF0000 !important;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* slider */
.swiper-button-next {
    display: none !important;
}

.swiper-button-prev {
    display: none !important;
}

.customer-slider .swiper-pagination {
    display: none;
}


.swiper {
    padding-bottom: 44px !important;
}

.swiper-slide {
    display: flex !important;
}

@media (min-width:992px) {
    .customer-slider .swiper {
        padding-top: 96px;
    }
}

@media (min-width:576px) {
    .customer-slider .swiper {
        padding-top: 60px;
    }
}

.customer-slider .swiper {
    padding-top: 30px;
}